<a href="https://colab.research.google.com/github/koriol/intro_to_python/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
print("Hello World!")

Hello World!

Type ctrl + M M to shift between text or code, or you can hover your mouse over the cell to display code or text

In [11]:
# print1

In [12]:
print(1)

1

In [13]:
12

12

In [14]:
variable = 'something'

In [15]:
variable

'something'

In [16]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [17]:
#Whatever I want

In [18]:
"""Something. This is also a comment that can be multilined
keep typing on different lines with triple quote magic"""

'Something. This is also a comment that can be multilined\nkeep typing on different lines with triple quote magic'

In [19]:
# This is float

In [20]:
y = 1.4

In [21]:
print(y)

1.4

In [22]:
# This is a complex number

In [23]:
a = 3 + 5j

In [24]:
print(a)

(3+5j)

In [25]:
x = 1

#Type Conversion

*You can convert from one type to another with the `int()`, `float()`, and `complex()` methods*

In [26]:
# Using our previous definitions

In [27]:
print(x)
print(y)
print(a)

1
1.4
(3+5j)

In [28]:
# Now converting an int to float
x1 = float(x)
print(f'Our int {x} is now a float --> {x1} yay!')

Our int 1 is now a float --> 1.0 yay!

In [29]:
# that f is for formatting. The brackets are place holders

In [30]:
# Now converting a float to int
y1 = int(y)
print(f'Our float {y} is now an int --> {y1} yay!')

Our float 1.4 is now an int --> 1 yay!

In [31]:
# Now, let's convert to complex number
a1 = complex(x)
print(f'Our int {x} is now a complex number --> {a1} yay!')

Our int 1 is now a complex number --> (1+0j) yay!

In [32]:
# We can check the types of our number by using the 'type()' method!
print(type(x1))
print(type(y1))
print(type(a1))

<class 'float'>
<class 'int'>
<class 'complex'>

#Numerical Operations

*In Python, all numeric types (except complex) support the following operations. These are sorted by ascending priority.*

In [33]:
# Sum
print(x)
print(y)

print( x + y )
print(23 + 4)

1
1.4
2.4
27

In [34]:
# Subtraction
print(y - x)
print(43 - 5)

0.3999999999999999
38

In [35]:
# Multiplication
print( x * y)
print( x * 2)
print( 3 * 5)

1.4
2
15

In [36]:
# Division
print(y/x)
print(321/17)

1.4
18.88235294117647

In [37]:
# Floored division
# Floor division is a normal division operation except that it returns
# the largest possible integer

print(y//x)
print(321//17)

1.0
18

In [38]:
# modulus
# The % symbol in Python is caled the Modulo Operator.
# It returns the remainder of dividing the left hand operand by right hand operand.
# It's used to get the remainder of a division problem.

print(y % x)
print(321 % 17)

div = y/x
mod = y

print(f'When dividing our numbers {y} and {x} we get {div}')
print(f"...but when we use the modulus operator '%' we get {mod} which is the remainder of the operation")

0.3999999999999999
15
When dividing our numbers 1.4 and 1 we get 1.4
...but when we use the modulus operator '%' we get 1.4 which is the remainder of the operation

In [39]:
# Let's try with other numbers...
# Let's take the number 321 and 17

a = 321
b = 17
c = a/b
d = a%b

print(f'When we divide {a} by {b} we get {c}')

print(f'But, if we want the remainder of the operation we get {d}')

When we divide 321 by 17 we get 18.88235294117647
But, if we want the remainder of the operation we get 15

#Built-in Methods

`min()
max()
abs()
pow()`

The `min()` and `max()` functions can be used to find the lowest or highest value in a set of numbers or an iterable:

In [40]:
# min
x = min(23, 45, 89, 28)
print(x)

23

In [41]:
# max
y = max(23, 45, 89, 28)
print(y)

89

The `abs()` function returns the absolute (positive) value of the specified number:

In [42]:
x = abs(-23.567)
print(x)

23.567

In [43]:
pow(3, 14)

4782969

In [44]:
pow(3, -1)

0.3333333333333333

In [45]:
pow(3, 0.5)

1.7320508075688772

In [46]:
pow(3, x)

175515958447.18857

#Booleans

In [47]:
True

True

In [48]:
type(True)

bool

In [49]:
False

False

In [50]:
type(False)

bool

In [51]:
type(10 > 9)

bool

In [52]:
10 > 9

True

In [53]:
# len stands for length of something, counting the characters

len('hello') < len('hi')

False

In [54]:
# without len it is looking at the type
'hello' < 'hi'

True

In [55]:
sum = 100 ^ 5
print(sum)

97

In [56]:
print(3 ^ 2)

1

In [57]:
print(1^2)

3

In [58]:
print(1^10)

11

#More on lists

In [59]:
myList = [2, 3, 5, 7, 8, 9]

In [60]:
# append

myList.append(78)

In [61]:
myList

[2, 3, 5, 7, 8, 9, 78]

In [62]:
myLista = ['apples', 'bananas', 'guava', 'tamarind']

In [63]:
myLista2 = 'apples', 'bananas', 'guava', 'tamarind'

In [64]:
type(myLista2)

tuple

In [65]:
myList.append(myLista)

In [66]:
myList.append(abs(-8675309))

In [67]:
myList.append(pow(5,2))

In [68]:
myList

[2, 3, 5, 7, 8, 9, 78, ['apples', 'bananas', 'guava', 'tamarind'], 8675309, 25]

In [69]:
w = 25
myList.count(25)

1

In [70]:
myList.count(x)

0

In [71]:
myList.count(w)

1

In [72]:
myList.count(x + w)

0

In [73]:
myList.count(myLista)

1

In [74]:
x

23.567

In [75]:
myList[7][3]

'tamarind'

In [76]:
# This looked at the place of the element in the list
# the second number in the brackets is the place of the element within the list *list-ception*

In [77]:
myList.append('This is a string')

In [78]:
myList[-1]

'This is a string'

In [79]:
# the negative 1 tells you what was last inputted into the list

In [80]:
myDict = {'k1':'v1', 'k2':'v2', 'k3':'v3'}

In [81]:
myDict.keys()

dict_keys(['k1', 'k2', 'k3'])

In [82]:
myDict.values()

dict_values(['v1', 'v2', 'v3'])

In [83]:
myDict.items()

dict_items([('k1', 'v1'), ('k2', 'v2'), ('k3', 'v3')])

In [84]:
myDict2 = { 'myList':myLista }

In [85]:
myDict2.keys()

dict_keys(['myList'])

In [86]:
myDict2.values()

dict_values([['apples', 'bananas', 'guava', 'tamarind']])

In [87]:
# strings are immutable

In [88]:
# pop by itself pops the last element out of the list
# you can pop an indexed specific element by pop(index number)
# when adding lists together, they combine without completing hte operation for example:
even = [2, 4, 6, 8]
odd = [1, 3, 5, 7, 9]
numbers = odd + even
numbers

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [89]:
len(numbers)

9

In [90]:
sorted(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
sorted(myLista)

['apples', 'bananas', 'guava', 'tamarind']

In [92]:
sorted(myList)

TypeError: ignored

In [93]:
myList

[2,
 3,
 5,
 7,
 8,
 9,
 78,
 ['apples', 'bananas', 'guava', 'tamarind'],
 8675309,
 25,
 'This is a string']

In [94]:
myList[7]

['apples', 'bananas', 'guava', 'tamarind']

In [96]:
myList.pop(7)

['apples', 'bananas', 'guava', 'tamarind']

In [97]:
myList

[2, 3, 5, 7, 8, 9, 78, 8675309, 25, 'This is a string']

In [98]:
sorted(myList)

TypeError: ignored

In [104]:
myDict = {'key1':['value1', 'value1.0', 'value1.1', 'value1.2'], 'key2':'value2', 'key3':'value3'}
myDict

{'key1': ['value1', ' value1.0', 'value1.1', 'value1.2'],
 'key2': 'value2',
 'key3': 'value3'}

In [102]:
myDict['key1'] = 'mangos'

In [103]:
myDict['key1']

'mangos'

In [105]:
myDict['key1'][1]

' value1.0'

#Tuples

In [106]:
prime_number = (2, 3, 5, 7, 11)
prime_number

(2, 3, 5, 7, 11)

In [107]:
type(prime_number)

tuple

In [108]:
perfect_numbers = [1, 4, 9, 16, 25, 36]
type(perfect_numbers)

list

In [112]:
prime_number = list(prime_number)

In [113]:
type(prime_number)

list

In [120]:
numbers = [1, 2, 3, 4, 5, 5, 5, 5, 99, 44]

In [115]:
type(numbers)

list

In [116]:
set(numbers)

{1, 2, 3, 4, 5}

In [117]:
numbers2 = set(numbers)

In [118]:
numbers2

{1, 2, 3, 4, 5}

In [119]:
# set is a list with non-repeating objects, you can add with .add

In [121]:
sorted(numbers)

[1, 2, 3, 4, 5, 5, 5, 5, 44, 99]

In [122]:
sorted(set(numbers))

[1, 2, 3, 4, 5, 44, 99]

In [123]:
#sorted is sorted into a list

In [124]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [128]:
for i in my_list:
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [127]:
# i is an irratetor, it can be anything
# for is the initializer, in tells you where it is going

In [129]:
your_List = [99, 98, 85, 65, 55, 55, 80, 79]

In [137]:
for x in your_List:
  print(x**3+(2*x - 1))

970496
941387
614294
274754
166484
166484
512159
493196

In [139]:
# range is not inclusive
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [152]:
# range does not take floats
# for i in range(20.0):
#   print(i)

In [153]:
for somethingelse in my_list:
  if somethingelse % 2 == 0:
    print(somethingelse)

2
4
6
8
10
12
14
16
18
20

In [154]:
for somethingelse in my_list:
  if somethingelse % 2 != 0:
    print(somethingelse)

1
3
5
7
9
11
13
15
17
19

In [156]:
# question 1: print out the items in the list plus 3
for x in my_list:
  print( x + 3)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [157]:
# question 2: print out the items of the list times 17
for x in your_List:
  print(x*17)

1683
1666
1445
1105
935
935
1360
1343

In [158]:
# question 3: print out the items of the list to the power of 5
for x in your_List:
  print(x**5)

9509900499
9039207968
4437053125
1160290625
503284375
503284375
3276800000
3077056399

In [159]:
myString = 'Hello World'

In [160]:
for letter in myString:
  print(letter)

H
e
l
l
o

W
o
r
l
d

In [161]:
for i in range(0, len(my_list)):
  print('Iteration #:', i+1)
  for j in range(i+1, len(my_list)):
    print('The outside loop value is: ',
          my_list[i], 'The inner loop value is: ', my_list[j])

Iteration #: 1
The outside loop value is:  1 The inner loop value is:  2
The outside loop value is:  1 The inner loop value is:  3
The outside loop value is:  1 The inner loop value is:  4
The outside loop value is:  1 The inner loop value is:  5
The outside loop value is:  1 The inner loop value is:  6
The outside loop value is:  1 The inner loop value is:  7
The outside loop value is:  1 The inner loop value is:  8
The outside loop value is:  1 The inner loop value is:  9
The outside loop value is:  1 The inner loop value is:  10
The outside loop value is:  1 The inner loop value is:  11
The outside loop value is:  1 The inner loop value is:  12
The outside loop value is:  1 The inner loop value is:  13
The outside loop value is:  1 The inner loop value is:  14
The outside loop value is:  1 The inner loop value is:  15
The outside loop value is:  1 The inner loop value is:  16
The outside loop value is:  1 The inner loop value is:  17
The outside loop value is:  1 The inner loop value is:  18
The outside loop value is:  1 The inner loop value is:  19
The outside loop value is:  1 The inner loop value is:  20
Iteration #: 2
The outside loop value is:  2 The inner loop value is:  3
The outside loop value is:  2 The inner loop value is:  4
The outside loop value is:  2 The inner loop value is:  5
The outside loop value is:  2 The inner loop value is:  6
The outside loop value is:  2 The inner loop value is:  7
The outside loop value is:  2 The inner loop value is:  8
The outside loop value is:  2 The inner loop value is:  9
The outside loop value is:  2 The inner loop value is:  10
The outside loop value is:  2 The inner loop value is:  11
The outside loop value is:  2 The inner loop value is:  12
The outside loop value is:  2 The inner loop value is:  13
The outside loop value is:  2 The inner loop value is:  14
The outside loop value is:  2 The inner loop value is:  15
The outside loop value is:  2 The inner loop value is:  16
The outside loop value is:  2 The inner loop value is:  17
The outside loop value is:  2 The inner loop value is:  18
The outside loop value is:  2 The inner loop value is:  19
The outside loop value is:  2 The inner loop value is:  20
Iteration #: 3
The outside loop value is:  3 The inner loop value is:  4
The outside loop value is:  3 The inner loop value is:  5
The outside loop value is:  3 The inner loop value is:  6
The outside loop value is:  3 The inner loop value is:  7
The outside loop value is:  3 The inner loop value is:  8
The outside loop value is:  3 The inner loop value is:  9
The outside loop value is:  3 The inner loop value is:  10
The outside loop value is:  3 The inner loop value is:  11
The outside loop value is:  3 The inner loop value is:  12
The outside loop value is:  3 The inner loop value is:  13
The outside loop value is:  3 The inner loop value is:  14
The outside loop value is:  3 The inner loop value is:  15
The outside loop value is:  3 The inner loop value is:  16
The outside loop value is:  3 The inner loop value is:  17
The outside loop value is:  3 The inner loop value is:  18
The outside loop value is:  3 The inner loop value is:  19
The outside loop value is:  3 The inner loop value is:  20
Iteration #: 4
The outside loop value is:  4 The inner loop value is:  5
The outside loop value is:  4 The inner loop value is:  6
The outside loop value is:  4 The inner loop value is:  7
The outside loop value is:  4 The inner loop value is:  8
The outside loop value is:  4 The inner loop value is:  9
The outside loop value is:  4 The inner loop value is:  10
The outside loop value is:  4 The inner loop value is:  11
The outside loop value is:  4 The inner loop value is:  12
The outside loop value is:  4 The inner loop value is:  13
The outside loop value is:  4 The inner loop value is:  14
The outside loop value is:  4 The inner loop value is:  15
The outside loop value is:  4 The inner loop value is:  16
The outside loop value is:  4 The inner loop value is:  17
The outside loop value is:  4 The inner loop value is:  18
The outside loop value is:  4 The inner loop value is:  19
The outside loop value is:  4 The inner loop value is:  20
Iteration #: 5
The outside loop value is:  5 The inner loop value is:  6
The outside loop value is:  5 The inner loop value is:  7
The outside loop value is:  5 The inner loop value is:  8
The outside loop value is:  5 The inner loop value is:  9
The outside loop value is:  5 The inner loop value is:  10
The outside loop value is:  5 The inner loop value is:  11
The outside loop value is:  5 The inner loop value is:  12
The outside loop value is:  5 The inner loop value is:  13
The outside loop value is:  5 The inner loop value is:  14
The outside loop value is:  5 The inner loop value is:  15
The outside loop value is:  5 The inner loop value is:  16
The outside loop value is:  5 The inner loop value is:  17
The outside loop value is:  5 The inner loop value is:  18
The outside loop value is:  5 The inner loop value is:  19
The outside loop value is:  5 The inner loop value is:  20
Iteration #: 6
The outside loop value is:  6 The inner loop value is:  7
The outside loop value is:  6 The inner loop value is:  8
The outside loop value is:  6 The inner loop value is:  9
The outside loop value is:  6 The inner loop value is:  10
The outside loop value is:  6 The inner loop value is:  11
The outside loop value is:  6 The inner loop value is:  12
The outside loop value is:  6 The inner loop value is:  13
The outside loop value is:  6 The inner loop value is:  14
The outside loop value is:  6 The inner loop value is:  15
The outside loop value is:  6 The inner loop value is:  16
The outside loop value is:  6 The inner loop value is:  17
The outside loop value is:  6 The inner loop value is:  18
The outside loop value is:  6 The inner loop value is:  19
The outside loop value is:  6 The inner loop value is:  20
Iteration #: 7
The outside loop value is:  7 The inner loop value is:  8
The outside loop value is:  7 The inner loop value is:  9
The outside loop value is:  7 The inner loop value is:  10
The outside loop value is:  7 The inner loop value is:  11
The outside loop value is:  7 The inner loop value is:  12
The outside loop value is:  7 The inner loop value is:  13
The outside loop value is:  7 The inner loop value is:  14
The outside loop value is:  7 The inner loop value is:  15
The outside loop value is:  7 The inner loop value is:  16
The outside loop value is:  7 The inner loop value is:  17
The outside loop value is:  7 The inner loop value is:  18
The outside loop value is:  7 The inner loop value is:  19
The outside loop value is:  7 The inner loop value is:  20
Iteration #: 8
The outside loop value is:  8 The inner loop value is:  9
The outside loop value is:  8 The inner loop value is:  10
The outside loop value is:  8 The inner loop value is:  11
The outside loop value is:  8 The inner loop value is:  12
The outside loop value is:  8 The inner loop value is:  13
The outside loop value is:  8 The inner loop value is:  14
The outside loop value is:  8 The inner loop value is:  15
The outside loop value is:  8 The inner loop value is:  16
The outside loop value is:  8 The inner loop value is:  17
The outside loop value is:  8 The inner loop value is:  18
The outside loop value is:  8 The inner loop value is:  19
The outside loop value is:  8 The inner loop value is:  20
Iteration #: 9
The outside loop value is:  9 The inner loop value is:  10
The outside loop value is:  9 The inner loop value is:  11
The outside loop value is:  9 The inner loop value is:  12
The outside loop value is:  9 The inner loop value is:  13
The outside loop value is:  9 The inner loop value is:  14
The outside loop value is:  9 The inner loop value is:  15
The outside loop value is:  9 The inner loop value is:  16
The outside loop value is:  9 The inner loop value is:  17
The outside loop value is:  9 The inner loop value is:  18
The outside loop value is:  9 The inner loop value is:  19
The outside loop value is:  9 The inner loop value is:  20
Iteration #: 10
The outside loop value is:  10 The inner loop value is:  11
The outside loop value is:  10 The inner loop value is:  12
The outside loop value is:  10 The inner loop value is:  13
The outside loop value is:  10 The inner loop value is:  14
The outside loop value is:  10 The inner loop value is:  15
The outside loop value is:  10 The inner loop value is:  16
The outside loop value is:  10 The inner loop value is:  17
The outside loop value is:  10 The inner loop value is:  18
The outside loop value is:  10 The inner loop value is:  19
The outside loop value is:  10 The inner loop value is:  20
Iteration #: 11
The outside loop value is:  11 The inner loop value is:  12
The outside loop value is:  11 The inner loop value is:  13
The outside loop value is:  11 The inner loop value is:  14
The outside loop value is:  11 The inner loop value is:  15
The outside loop value is:  11 The inner loop value is:  16
The outside loop value is:  11 The inner loop value is:  17
The outside loop value is:  11 The inner loop value is:  18
The outside loop value is:  11 The inner loop value is:  19
The outside loop value is:  11 The inner loop value is:  20
Iteration #: 12
The outside loop value is:  12 The inner loop value is:  13
The outside loop value is:  12 The inner loop value is:  14
The outside loop value is:  12 The inner loop value is:  15
The outside loop value is:  12 The inner loop value is:  16
The outside loop value is:  12 The inner loop value is:  17
The outside loop value is:  12 The inner loop value is:  18
The outside loop value is:  12 The inner loop value is:  19
The outside loop value is:  12 The inner loop value is:  20
Iteration #: 13
The outside loop value is:  13 The inner loop value is:  14
The outside loop value is:  13 The inner loop value is:  15
The outside loop value is:  13 The inner loop value is:  16
The outside loop value is:  13 The inner loop value is:  17
The outside loop value is:  13 The inner loop value is:  18
The outside loop value is:  13 The inner loop value is:  19
The outside loop value is:  13 The inner loop value is:  20
Iteration #: 14
The outside loop value is:  14 The inner loop value is:  15
The outside loop value is:  14 The inner loop value is:  16
The outside loop value is:  14 The inner loop value is:  17
The outside loop value is:  14 The inner loop value is:  18
The outside loop value is:  14 The inner loop value is:  19
The outside loop value is:  14 The inner loop value is:  20
Iteration #: 15
The outside loop value is:  15 The inner loop value is:  16
The outside loop value is:  15 The inner loop value is:  17
The outside loop value is:  15 The inner loop value is:  18
The outside loop value is:  15 The inner loop value is:  19
The outside loop value is:  15 The inner loop value is:  20
Iteration #: 16
The outside loop value is:  16 The inner loop value is:  17
The outside loop value is:  16 The inner loop value is:  18
The outside loop value is:  16 The inner loop value is:  19
The outside loop value is:  16 The inner loop value is:  20
Iteration #: 17
The outside loop value is:  17 The inner loop value is:  18
The outside loop value is:  17 The inner loop value is:  19
The outside loop value is:  17 The inner loop value is:  20
Iteration #: 18
The outside loop value is:  18 The inner loop value is:  19
The outside loop value is:  18 The inner loop value is:  20
Iteration #: 19
The outside loop value is:  19 The inner loop value is:  20
Iteration #: 20

In [162]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]