<a href="https://colab.research.google.com/github/koriol/intro_to_python/blob/main/Rapid_Fire_Workout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Return the count of a given substring from a string

In [4]:
# What I want?
#To return the count of a specific part from a string, example for a secific word
#What do I have?
#A string
#What do I need?
#user input for a string, what the user is looking for in the string, 
#to count the amount of times the sought for string appears

def searching(**kwargs, a):
  '''
  Created by: Koriol
  Input: A string and a keyword
  Output: how many times the keyword appears
  '''
  print('In the string {}, {} appears'.format())

SyntaxError: ignored

##Display numbers divisible by 5 from a list

In [21]:
def of_five(*args):
  '''
  Created by: Koriol
  Input: a list of integers
  Output: numbers divisible by 5 from the inputted list
  '''
  y = int(args) % 5
  print('From our list {}, {} are divisible by 5.'.format(args,args[y]))

In [22]:
of_five(2,3,4,5,6,7,8,9,10)

TypeError: ignored

## Check if the first and last number of a list is the same

In [24]:
# is the first and last number the same?

given_list = [1, 2, 2, 3, 4, 9, 87, 54, 32, 11]
if given_list[0] == given_list[-1]:
  print('The first and last number is the same')
else:
  print('The first and last number are not the same')

The first and last number are not the same

##Display the current date and time

In [25]:
import datetime

In [27]:
right_now = datetime.datetime.now()
print("Current date and time: ")
print(right_now.strftime("%m-%d-%Y %H:%M:%S"))

Current date and time:
04-28-2023 00:28:10

## Print first and last name in reverse order with a space between them

In [34]:
# This shows organizing variables

first = input('First name: ')
last = input('Last name: ')
print(last, first)

First name: k
Last name: o
o k

## Display the first and last colors from a given list

In [36]:
color_list = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo','violet']
print('The first color of the given list is ' + color_list[0] + ' and the last color is ' + color_list[-1])

The first color of the given list is red and the last color is violet

##Input an integer(n) and computes the value of n+nn+nnn

In [42]:
# To accept input as an integer and calculate the value of a process

val = int(input('What is the integer? '))
print('With input ', val,' the calculated output is ', {val + val * val + pow(val, 3)})

What is the integer? 2
With input  2  the calculated output is  {14}

##Write a Python program to print the calendar of a given month and year.

In [40]:
import calendar

In [ ]:
help(calendar)

In [53]:
print(calendar.month(2000, 2))

   February 2000
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29

##Write a Python program to find whether a given number (accept from the user) is even or odd

In [60]:
# function to practice identifying even or odd numbers

def num_class(number):
  '''
  Created by: Koriol
  Input: An integer
  Output: if inputted integer is even or odd
  '''
  if int(number) % 2 == 0:
    print('The number is even')
  else:
    print('The number is odd')

In [59]:
num_class(44)

The number is even

##Write a Python program to count the number in a given list

In [74]:
given_list = [1, 2, 2, 3, 4, 9, 87, 54, 32, 11]
given_list.count(4)

1

##Write a Python program to sum of three integers. However, if two values are equal sum will be zero

In [76]:
x = 3
y = 4
z = 5
sum = x + y + z
if x == y or x == z or y == z:
  print('Sum is zero')
else:
  print(sum)

12

##Write a Python progra, to add two objects if both objects are integer type

In [83]:
'''
Created by: Koriol
Input: two integers
output: sum of two integers if they are the same integer type
'''
a = 2
b = 3
if type(a) == type(b) and type(a) == int:
  print(a+b)
else:
  print('The values are not integers')

The values are not integers

##Write a Python program to solve (x+y)*(x+y)

In [84]:
x = 3
y = 4
print(pow(x, 2) + 2 * x * y + pow(y, 2))

49

In [85]:
import os
import sys
import platform
import sysconfig

In [86]:
from subprocess import call
call(["ls", "-l"])

0

##Write a Python program to convert the distance (in feet) to inches, yards, and miles.

In [113]:
#make sure int is in front of the input to recognize as an integer

feet = int(input('How many feet? '))
print(feet, 'feet in inches is ', (feet * 12), '. In yards is ', (feet / 3), ' and in miles is ', (feet * 0.0001894))

How many feet? 3
3 feet in inches is  36 . In yards is  1.0  and in miles is  0.0005682

## Write a Python program to convert height (in feet and inches) to centimeters.

In [116]:
feet = int(input('How many feet? '))
inches = int(input('How many inches? '))
print('The total centimeters of ', feet, 'feet and', inches, 'inches is ', (feet * 30.48 + inches * 2.54), 'centimeters.')

How many feet? 3
How many inches? 5
The total centimeters of  3 feet and 5 inches is  104.14 centimeters.

##Write a Python program to calculate the hypotenuse of a right angled triangle.

In [119]:
a = 3
b = 4
print('The hypotenuse of a right triangle given the legs', a, 'and', b, 'is', pow(a*a + b*b, 0.5))

The hypotenuse of a right triangle given the legs 3 and 4 is 5.0